/* Colours */
$text-colour: #001f3f;
$input-background: #d0d0d0;
$errors-color: #a94442;
$input-focused-background: #efefef;
$errors-background-color: #f2dede;
$errors-border-color: #ebccd1;
$button-color: #0275d8;

/* Other */
$default-margin: 20px;
